# Application Configuration
APP_NAME=ADMINLTE CI
SESSION_NAME=
BASE_URL=http://localhost/adminlte-ci/

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=adminlte_ci
